<ng-container *ngIf="isLoading">
  <app-loading-app></app-loading-app>
</ng-container>
<table *ngIf="!isLoading" class="table-app-container">
  <tr class="h-100">
    <td style="vertical-align: top" class="p-0">
      <app-upper-bar [shouldShowBackButton]=false [barTitle]="title"></app-upper-bar>
      <div class="ms-3 mt-4">
        <h2>OSTATNIE</h2>
        <div class="row g-0">
          <h2>Grzyby</h2>
          <div class="col-6 container mx-auto">
            <img [src]="getFirstMushroom().imageUrl" class="img-fluid" alt="Image 1">
            <p>{{getFirstMushroom().description}}</p>
          </div>
          <div class="col-6 container mx-auto">
            <img [src]="getSecondMushroom().imageUrl" class="img-fluid" alt="Image 1">
            <p>{{getSecondMushroom().description}}</p>
          </div>
        </div>
        <div class="row g-0">
          <h2>Grzybobrania</h2>
          <div class="col-6 container mx-auto">
            <img [src]="getFirstMushroomHunting().mushrooms[0].imageUrl" class="img-fluid" alt="Image 1">
            <p>{{getFirstMushroomHunting().description}}</p>
          </div>
          <div class="col-6 container mx-auto">
            <img [src]="getSecondMushroomHunting().mushrooms[0].imageUrl" class="img-fluid" alt="Image 2">
            <p>{{getSecondMushroomHunting().description}}</p>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: bottom" class="p-0">
      <app-lower-bar></app-lower-bar>
    </td>
  </tr>
</table>
