<h1 mat-dialog-title>Zakończ grzybobranie</h1>
<div mat-dialog-content>
  <p>Zmień status</p>
  <mat-form-field>
    <mat-select [(value)]="visibility">
      <mat-option [value]="MushroomHuntingVisibility.PUBLIC">Publiczne</mat-option>
      <mat-option [value]="MushroomHuntingVisibility.PRIVATE">Prywatne</mat-option>
      <mat-option [value]="MushroomHuntingVisibility.SHARED">Udostępnione</mat-option>
    </mat-select>
  </mat-form-field>
  <app-user-multi-select *ngIf="visibility === MushroomHuntingVisibility.SHARED"
                         (selectedUsersEvent)="onSelectionChange($event)">
  </app-user-multi-select>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [mat-dialog-close]="toEndMushroomHuntingModalData()" cdkFocusInitial>Zatwierdź</button>
</div>
