<table class="table-app-container">
  <tr class="h-100">
    <td style="vertical-align: top" class="p-0">
      <app-upper-bar [shouldShowBackButton]=true [barTitle]="'Miejscówka'"></app-upper-bar>
      <ng-container *ngIf="placeNotFound">
        <h2 class="text-center mt-5">Nie znaleziono miejsca.</h2>
      </ng-container>
      <ng-container *ngIf="!placeNotFound">
        <div class="ms-3 mt-3">
          <mat-list>
            <h2>Wybrano miejsce:</h2>
            <mat-list-item>
              <span matListItemTitle>użytkownik</span>
              <span matListItemLine>{{place?.userName}}</span>
            </mat-list-item>
            <mat-list-item lines="3">
              <span matListItemTitle>znalezione grzyby</span>
              {{place?.mushrooms | replaceEmptyData: "brak"}}
            </mat-list-item>
            <mat-list-item lines="10">
              <span matListItemTitle>lokalizacja na mapach google</span>
              <button class="mt-2" mat-raised-button color="primary" (click)="openGoogleMaps()">
                <mat-icon class="material-icons">map</mat-icon>
                Otwórz
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </ng-container>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: bottom" class="p-0">
      <app-select-place-map *ngIf="!placeNotFound" [predefinedCoordinates]="place?.coordinates"></app-select-place-map>
      <app-lower-bar></app-lower-bar>
    </td>
  </tr>
</table>
