<div class="row g-0">
  <div class="col-12">
    <div class="m-2">
      <h2 class="float-start" >Aktywne grzybobranie</h2>
      <button class="float-end" mat-raised-button color="primary" (click)="endMushroomHunting()"
              [disabled]="endingMushroomHunting">
        <mat-icon *ngIf="!endingMushroomHunting" class="material-icons">check_circle</mat-icon>
        <mat-icon *ngIf="endingMushroomHunting">
          <mat-spinner color="primary" diameter="20"></mat-spinner>
        </mat-icon>
        Zakończ
      </button>
    </div>
  </div>
</div>
