<div class="row g-0">
  <div class="col-12">
    <div class="m-2">
      <div>
        <h2 class="mb-1">{{mushroomHunting?.name}}</h2>
        <span>{{mushroomHunting?.description}}</span>
        <div class="row">
          <div class="col-6">
            <mat-list>
              <mat-list-item>
                <span class="badge bg-success"></span>
                <span matListItemTitle>status sesji</span>
                <span matListItemLine>{{mushroomHuntingStatusLabel()}}</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div class="col-6">
            <mat-list>
              <mat-list-item>
                <span class="badge bg-success"></span>
                <span matListItemTitle>data rozpoczęcia</span>
                <span matListItemLine>{{getDate(mushroomHunting?.startDate)}}</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
      <div class="text-center" >
        <ng-container *ngIf="hasAccess">
          <input type="file" accept="image/*" (change)="processMushroomPhoto($event)" onclick="this.value=null;" #uploader hidden>
          <button mat-raised-button color="primary" (click)="uploader.click()"
                  [disabled]="processingMushroomPhoto">
            <mat-icon *ngIf="!processingMushroomPhoto" class="material-icons">photo_camera</mat-icon>
            <mat-icon *ngIf="processingMushroomPhoto">
              <mat-spinner color="primary" diameter="20"></mat-spinner>
            </mat-icon>
            Zrób zdjęcie
          </button>
          <button class="ms-1" mat-raised-button color="warn" (click)="openEndMushroomHuntingModal()"
                  [disabled]="endingMushroomHunting">
            <mat-icon *ngIf="!endingMushroomHunting" class="material-icons">check_circle</mat-icon>
            <mat-icon *ngIf="endingMushroomHunting">
              <mat-spinner color="primary" diameter="20"></mat-spinner>
            </mat-icon>
            Zakończ
          </button>
        </ng-container>
        <button class="ms-1" mat-raised-button (click)="navigateToChat()">
          <mat-icon class="material-icons">chat</mat-icon>
          Czat
        </button>
      </div>
      <div class="mt-3">
        <mat-icon *ngIf="savingMushroomInfo">
          <mat-spinner color="primary" diameter="20"></mat-spinner>
        </mat-icon>
        <ng-container *ngIf="!savingMushroomInfo">
          <app-mushrooms-list [mushrooms]="mushroomHunting?.mushrooms"></app-mushrooms-list>
        </ng-container>
      </div>
    </div>
  </div>
</div>
