<div class="row g-0">
  <div class="col-12">
    <div class="m-2">
      <div>
        <h2 class="mb-1">{{mushroomHunting?.name}}</h2>
        <span>{{mushroomHunting?.description}}</span>
      </div>
      <div>
        <ng-container *ngIf="hasAccess">
          <div class="row g-0 mt-2">
            <div class="col-12">
              <input type="file" accept="image/*" (change)="processMushroomPhoto($event)" onclick="this.value=null;" #uploader hidden>
              <button mat-raised-button color="primary" (click)="uploader.click()"
                      [disabled]="processingMushroomPhoto">
                <mat-icon *ngIf="!processingMushroomPhoto" class="material-icons">photo_camera</mat-icon>
                <mat-icon *ngIf="processingMushroomPhoto">
                  <mat-spinner color="primary" diameter="20"></mat-spinner>
                </mat-icon>
                Zdjęcie
              </button>
              <button class="ms-1" mat-raised-button color="warn" (click)="openEndMushroomHuntingModal()"
                      [disabled]="endingMushroomHunting" *ngIf="!isEnded">
                <mat-icon *ngIf="!endingMushroomHunting" class="material-icons">check_circle</mat-icon>
                <mat-icon *ngIf="endingMushroomHunting">
                  <mat-spinner color="primary" diameter="20"></mat-spinner>
                </mat-icon>
                Zakończ
              </button>
              <button class="ms-1" mat-raised-button color="warn" (click)="deleteMushroom()"
                      [disabled]="!selectedMushroom">
                <mat-icon *ngIf="!deletingMushroom" class="material-icons">delete</mat-icon>
                <mat-icon *ngIf="deletingMushroom">
                  <mat-spinner color="primary" diameter="20"></mat-spinner>
                </mat-icon>
                Usuń
              </button>
            </div>
          </div>
        </ng-container>
          <div class="row g-0 mt-1">
            <div class="col-12">
              <button mat-raised-button color="accent" (click)="openStatisticsModal()">
                <mat-icon class="material-icons">list_alt</mat-icon>
                Statystyki
              </button>
              <button class="ms-1" mat-raised-button (click)="navigateToChat()">
                <mat-icon class="material-icons">chat</mat-icon>
                Czat
              </button>
            </div>
          </div>
      </div>
      <div class="mt-3">
        <mat-icon *ngIf="savingMushroomInfo">
          <mat-spinner color="primary" diameter="20"></mat-spinner>
        </mat-icon>
        <ng-container *ngIf="!savingMushroomInfo">
          <app-mushrooms-list [mushrooms]="mushroomHunting?.mushrooms" (selectedMushroomChanged)="onSelectedMushroomChange($event)"></app-mushrooms-list>
        </ng-container>
      </div>
    </div>
  </div>
</div>
