<ng-container *ngIf="isLoading">
  <app-loading-app></app-loading-app>
</ng-container>
<table *ngIf="!isLoading" class="table-app-container">
  <tr class="h-100">
    <td style="vertical-align: top" class="p-0">
      <app-upper-bar [shouldShowBackButton]=false barTitle="Czat"></app-upper-bar>
      <div class="ms-3 mt-4">
        <ng-container *ngFor="let message of messages">
          <div>{{message}}</div>
        </ng-container>
      </div>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: bottom" class="p-0">
      <app-lower-bar></app-lower-bar>
    </td>
  </tr>
</table>
