<ng-container *ngIf="isLoading">
  <app-loading-app></app-loading-app>
</ng-container>
<table *ngIf="!isLoading" class="table-app-container">
  <tr class="h-100">
    <td style="vertical-align: top" class="p-0">
      <app-upper-bar [shouldShowBackButton]=false [barTitle]="title"></app-upper-bar>
      <div class="ms-3 mt-4">
        <h1>Ostatnie</h1>
        <div class="row">
          <h3>Grzyby</h3>
          <div class="col-6">
            <img src="assets/icons/icon-1024x1024.png" style="max-width: 90%; border-radius: 10%;" class="img-fluid" alt="Image 1">
            <p>Description for first image</p>
          </div>
          <div class="col-6">
            <img src="assets/icons/icon-1024x1024.png" style="max-width: 90%; border-radius: 10%;" class="img-fluid" alt="Image 2">
            <p>Description for second image</p>
          </div>
        </div>
        <div class="row">
          <h3>Grzybobrania</h3>
          <div class="col-6">
            <img src="assets/icons/icon-1024x1024.png" style="max-width: 90%; border-radius: 10%;" class="img-fluid" alt="Image 1">
            <p>Description for first image</p>
          </div>
          <div class="col-6">
            <img src="assets/icons/icon-1024x1024.png" style="max-width: 90%; border-radius: 10%;" class="img-fluid" alt="Image 2">
            <p>Description for second image</p>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: bottom" class="p-0">
      <app-lower-bar></app-lower-bar>
    </td>
  </tr>
</table>
